In [1]:
import pandas as pd
import numpy as np
import random
import torch
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
from typing import Tuple
from datetime import datetime, timedelta
from typing import Tuple

from preprocessing import BasicPreprocessing

In [2]:
basic_pre = BasicPreprocessing()

Reading csv data...
Data succesfully read!

In [4]:
basic_pre.data

                   0           1        2       3           4         5
0                NaN  Unnamed: 0  user_id  rating        date  movie_id
1               90.0          90  2090715       4  2005-10-11     17240
2              108.0         108  2372546       4  2004-08-03     17240
3              116.0         116  1392572       2  2003-09-09     17240
4              204.0          72   588687       3  2005-11-07      1281
...              ...         ...      ...     ...         ...       ...
2106575  100479847.0         428   560435       5  2004-04-22     11566
2106576  100480003.0         584  1193862       1  2005-05-10     11566
2106577  100480191.0         772  2238311       4  2004-09-06     11566
2106578  100480296.0         877    88568       4  2004-05-24     11566
2106579  100480384.0          27  1882485       4  2005-11-16     16483

[2106580 rows x 6 columns]

In [3]:
basic_pre.step_1(basic_pre.data)

[[90.0 '90' '2090715' '4' '2005-10-11' '17240']
 [108.0 '108' '2372546' '4' '2004-08-03' '17240']
 [116.0 '116' '1392572' '2' '2003-09-09' '17240']
 ...
 [100480191.0 '772' '2238311' '4' '2004-09-06' '11566']
 [100480296.0 '877' '88568' '4' '2004-05-24' '11566']
 [100480384.0 '27' '1882485' '4' '2005-11-16' '16483']]

ValueError: time data '2090715' does not match format '%Y-%m-%d'